<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>$Title$</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>



<body>
<biy id="app">
  <h2 style="text-align:center"><font color="red">新しい項目の追加</font></h2>
  <ul  class="list-unstyled" style="text-align:center">
    <li v-for="todo in todos">
      <label>
        <span v-bind:class="{'done': todo.done}">{{todo.id}}</span>
      </label>
    </li>
  </ul>
  <p style="text-align:center">
    <input type="text" v-model="todoText" placeholder="ここに文字を入力する" />
    <button v-on:click="addTodo()" class="btn btn-primary btn-sm">追加</button>
  </p>
</biy>

<script src="main.js"></script>


</body>
</html>



































